.btn {
  display: inline-block;
  text-decoration: none;
  background: $color-primary;
  color: $color-primary;
  padding: .75em 2em;
  border: 2px solid transparent;
  transition: all .2s ease;

  &:hover {
    text-decoration: none;
    background: $color-white;
    border-color: $color-primary;
    color: $color-primary;
  }
}
