/* colors */
$color-primary: #b73536;
$color-primary-dk: #921818;
$color-primary-lt: #D75D5D;

$color-theme-gray: #e3e3e3;

$color-secondary: #342a7a;
$color-secondary-dk: #201762;
$color-secondary-lt: #4B418F;

$color-neutral: #efefef;
$color-neutral-md: darken($color-neutral, 50%);
$color-neutral-dk: #222;


$color-white: #fff;
$color-black: #000;

$color-text: lighten(black, 30%);
