/**
* css next variables
*
* http://cssnext.io/features/#custom-properties-var
*
* global variables must be declared on the :root selector
*/

/* colors */
$color-primary: #37591d;
$color-primary-dk: #3c7113;
$color-primary-lt: #87bc5e;

$color-secondary: #277455;
$color-secondary-dk: #0E573A;
$color-secondary-lt: #489174;

$color-neutral: gray(85);
$color-neutral-md: gray(65);
$color-neutral-dk: gray(100);

$color-white: #fff;
$color-black: #000;

$color-text: gray(95);
