/**
* css next variables
*
* http://cssnext.io/features/#custom-properties-var
*
* global variables must be declared on the :root selector
*/

:root {
  /* colors */
  --colorPrimary: #37591d;
  --colorPrimary-dk: #3c7113;
  --colorPrimary-lt: #87bc5e;

  --colorSecondary: #277455;
  --colorSecondary-dk: #0E573A;
  --colorSecondary-lt: #489174;

  --colorNeutral: gray(85);
  --colorNeutral-md: gray(65);
  --colorNeutral-dk: gray(100);

  --colorWhite: #fff;
  --colorBlack: #000;

  --colorText: gray(95);
}
