{
    "root": true,
    "extends": ["eslint:recommended"],
    "globals": {
      "wp": true,
      "Dpi": true
    },
    "env": {
      "es6": true,
      "browser": true,
      "jquery": true,
      "node": true
    },
    "rules": {
      "no-debugger": "warn",
      "no-console": "warn"
    },
    "parserOptions": {
        "sourceType": "module"
    }
}