body:not(.home).page,
body.single,
body.archive {

    .wrap {
        width: 100%;
        margin: 0 auto;
        max-width: 1250px;
        padding: 80px 2em;
        background-color: $color-white;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    }

    .main {
        width: 100%;
    }

    .main { 
        article {
            &::after {
                content: '';
                display: table;
                clear: both;
            }

            ul,
            dl,
            ol {
                padding-left: 2rem;
                margin-bottom: 1em;

                li + li {
                    margin-top: 1em;
                }
            }

            ul {
                list-style: disc;

                ul {
                    list-style: square;
                }
            }

            ol {
                list-style: upper-roman;

                ol {
                    list-style: lower-alpha;
                }
            }

            li,
            dt,
            dd {
                margin-bottom: initial;
            }
        }
    }
}