ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

dl {
    margin-bottom: calc(var(--base-spacing) / 2);

    & dt {
        font-weight: bold;
        margin-top: calc(var(--base-spacing / 2));
    }

    & dd {
        margin: 0;
    }
}