h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font-family);
  line-height: var(--header-line-height);
  margin-bottom: 0.5em;
}

h1 {
    font-size: var(--h1-font-size);
    color: var(--color-h1);
}

h2 {
    font-size: var(--h2-font-size);
    color: var(--color-h2);
}

h3 {
    font-size: var(--h3-font-size);
    color: var(--color-h3);
}

h4 {
    font-size: var(--h4-font-size);
    color: var(--color-h4);
}

h5 {
    font-size: var(--h5-font-size);
    color: var(--color-h5);
}

h6 {
    font-size: var(--h6-font-size);
    color: var(--color-h6);
}

p {
    margin: 0 0 calc(var(--base-spacing) / 2);
}

a {
    color: var(--color-link-base);
    text-decoration: none;
    transition: color 0.1s linear;

    &:hover {
        color: var(--color-link-hover);
    }

    &:active,
    &:focus {
        color: var(--color-link-hover);
        outline: none;
    }
}

hr {
    border-bottom: var(--base-border);
    border-left: none;
    border-right: none;
    border-top: none;
    margin: var(--base-spacing) 0;
}

blockquote {
    border-left: 2px solid var(--color-border-base);
    color: color(var(--color-font-base) tint(10%));
    margin: var(--base-spacing) 0;
    padding-left: calc(var(--base-spacing) / 2);
}

cite {
    color: color(var(--color-font-base) tint(25%));
    font-style: italic;

    &::before {
        content: "\2014 \00A0";
    }
}