:root {
    /* Primary colors */
    --color-primary:           #9c1519;
    --color-primary-lt:        #C12C30;
    --color-primary-dk:        #780003;

    /* Secondary colors */
    --color-secondary:         #c49a65;
    --color-secondary-lt:      #EBC99D;
    --color-secondary-dk:      #A1753E;

    /* Accent colors */
    --color-accent:            #477DCA;
    --color-accent-lt:         #6A99DA;
    --color-accent-dk:         #2966BA;

    /* Neutral colors */
    --color-neutral:           #999;
    --color-neutral-lt:        #DDD;
    --color-neutral-dk:        #333;

    --color-white:             #fff;
    --color-black:             #000;

    /* Layout colors */
    --color-background-base:   #fff;
    --color-border-base:       var(--color-neutral-lt);

    /* Typography colors */
    --color-font-base:         #3b3b3b;
    --color-link-base:         var(--color-accent);
    --color-link-hover:        var(--color-accent-dk);
    --color-h1:                var(--color-primary);
    --color-h2:                var(--color-primary);
    --color-h3:                var(--color-primary);
    --color-h4:                var(--color-secondary);
    --color-h5:                var(--color-secondary);
    --color-h6:                var(--color-secondary);

    /* Form colors */
    --color-form-border:       var(--color-neutral-lt);
    --color-form-border-hover: var(--color-neutral);
    --color-form-border-focus: var(--color-accent);
}