body:not(.home).page,
body.single,
body.archive {

  & .main > article {
    &::after {
      content: '';
      display: table;
      clear: both;
    }
    
    & ul,
    & dl,
    & ol {
      padding-left: 2rem;
      margin-bottom: 1em;

      & ul,
      & ol {
        list-style: lower-alpha;
      }

      & li,
      & dt,
      & dd {
        margin-bottom: initial;
      }
    }
  }
}