body.search-results {
    & article:first-of-type {
        margin-top: 2em;
    }

    & article {
        max-width: 50.125em;
        padding: 2em;
        background-color: var(--color-neutral);
        margin: 0 auto;

        & img {
            margin: 1em 0;
        }
    }

    & article + article {
        margin-top: 2em;
    }

    & article:last-of-type {
        margin-bottom: 2em;
    }
}

body.search-no-results {
    & .no-posts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 6em 1em;

      & form {
          max-width: 25em;
          width: 100%;
      }

      & input[type="submit"] {
          width: 100%;
      }
  }

  & .no-posts__message {
      font-size: 1.675em;
  }
}