ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

dl {
    margin-bottom: calc($base-spacing / 2);

    dt {
        font-weight: bold;
        margin-top: calc($base-spacing / 2);
    }

    dd {
        margin: 0;
    }
}