/**
*
* - Scalar type -
*
* Scale: 1.250 / major third
* Base: 16px
* top level componenets set font size in rem
* borders in px
* everything else in em's
*
*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans';

:root {
  font-family: 'Open Sans', sans-serif;
  font-size: calc(.45vw + .45vh + .25vmin);
}

p {
  color: $color-black;
  font-size: 1em;
  margin-bottom: 1.3em;
}

a {
  text-decoration: none;
  color: lighten($color-primary, 10%);

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h4,
h5,
h6 {
  color: $color-primary;
}

h1,
h4 {
  margin-top: 0;
  font-size: 2.441em;
}

h2,
h5 {
  font-size: 1.953em;
}

h3,
h6 {
  font-size: 1.563em;
}

blockquote {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  // background: rgba();

  &::before {
    content: '"';
    display: inline-block;
    transform: rotate(180deg);
    font-size: 7em;
    line-height: 0;
    margin-right: 16px;
    margin-top: -10px;
    color: #898989;
    opacity: 0.5;
  }

  p {
    display: inline-block;
    vertical-align: top;
    width: 85%;
  }
}

small,
.font_small {
  font-size: 0.8em;
}

.entry-title {
  margin-bottom: 1em;
}
