#header {
  width: 100%;
  height: 10em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .site-logo {
    max-width: 20em;
    margin: auto;

    & img {
      width: 100%;
    }
  }
}
